.span-duration-style{
    color:#0a09096b;
    font-size:11px;
}
.div-align{
    text-align: right;
    padding: 10px;
    width:50%;
    margin-left:20px;
}
.card-stop_color{
    color:rgba(221, 33, 33, 0.933);
    font-size:12px;
    font-weight:400;
}

.card-direct-color{
    color:rgb(12, 121, 112);
    font-size:12px;
    font-weight:400;
}
